### BITTENSOR IGNORE FILES ###

.idea

# hide your personal keys when sharing your git.
config/access_codes.yaml
config/client_secret.json

# nasty pyc files
*.pyc
*/*.pyc
*/*/*.pyc

__pycache__
*/__pycache__
*/*/__pycache__


### REMOVE ALL THE GENERATED SAVE DATA
saved_notebooks/*
html/*
data/*